.contents {
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 2s;
}

.contents form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents form label{
   align-self: flex-start;
}

.inputNum, .inputText {
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #333;
}

.btn{
    width: 100px;
    height: 35px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    background-color: #30ce1cbd;
    border: none;
    outline: none;
    margin-top: 10px;
}

.btn:hover{
    background-color: #34a825bd;
}

.btsControls{
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.btn:active{
    margin-top: 13px;
    height: 34px;
    width: 98px;
}

.modalAlert{
    background-color: red;
}

.modalLink{
    width: 350px;
    height: 60px;
    border-radius: 5px;
    border: solid 1px;
    background-color: #d4d4d4;
    margin-top: 10px;
    padding-left: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalLink p{
    align-self: flex-start;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modalLink input{
    background-color: #d4d4d4;
    border-radius: 5px;
    width: 98%;
    height: 30px;
    border: none;
    outline: none;
}

.copiedSuccess{
    background-color: #30e930ad;
    color: #fff;
    width: 135px;
    height: 35px;
    border-radius: 50%;
    margin-top: 5px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}