.footer{
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    background-color: #333;
    position: fixed;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icons i {
    font-size: 2rem;
    cursor: pointer;
    margin: 10px;
}

.credits{
    text-align: center;
}

.credits a{
    text-decoration: none;
}