.Sobre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    margin-top: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description p{
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 600;
}